ul li {
  list-style-type: georgian;
}

.app-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas:
    "header header"
    "nav content";
}

.app-header {
  grid-area: header;
  background-color: #c5acd3;
}

.app-nav {
  grid-area: nav;
  background-color: #d5e6af;
}

.app-content {
  grid-area: content;
  background-color: #fffacd;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit; /* убираем фиолетовый цвет */
}